@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,700&family=Ubuntu:wght@400;500&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  position: relative;
  width: 60%;
  height: 85%;
  background: #fff;
  box-shadow: 0px 0px 50px -1px rgb(0, 0, 0, 0.5);
  padding: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 1s linear;
}
header .logo {
  position: absolute;
  top: 0;
  left: 10%;
  width: 200px;
  height: 300px;
  background: black;
}
header .logo h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 400;
}
header .logo img {
  width: 200px;
  margin: 30px 0px 0px 0px;
  filter: drop-shadow(0px 0px 20px rgb(255, 140, 0));
  border-radius: 50%;
}
header nav {
  width: 250%;
  height: 10%;
}
header nav .menu {
  font-size: 30px;
  color: #000;
  width: 5%;
}
header nav .right_menu {
  align-items: center;
  display: flex;
  float: right;
}
header nav .right_menu ul {
  align-items: center;
  display: flex;
  list-style-type: none;
}
header nav .right_menu ul li {
  padding: 10px 20px;
}
header nav .right_menu ul li a {
  position: relative;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600%;
  transition: 0.3s linear;
}

header nav .right_menu ul li a::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgb(255, 0, 64);
  border: radius 100px;
  bottom: -5px;
  left: 45%;
  opacity: 0;
  transition: 0.3s linear;
}
header nav .right_menu ul li a:hover {
  color: orangered;
}
header nav .right_menu ul li a:hover::before {
  opacity: 90;
}
header nav .right_menu .user_cart {
  margin: left;
  display: flex;
  align-items: center;
  color: #000;
}
header nav .right_menu .user {
  color: orange;
  width: 30px;
  height: 15px;
  margin-left: 2%;
  border-radius: 50%;
}
header nav .right_menu .user::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: red;
}
header .left_menu {
  width: 20px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .left_menu a {
  color: #000;
  position: relative;

  top: -50px;
  text-decoration: none;
  margin: 20px 20px;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: 800;
  transition: 0.3s linear;
  transform: rotate(-90deg);
}
header .left_menu a:hover {
  color: red;
}
header .left_menu a::before {
  content: "";
}

header section {
  width: 95%;
  height: 80%;
}
header section .content {
  position: relative;
  left: 300px;
  margin-top: 5%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  transition: 0.1s linear;
}
header section .content h1 {
  font-size: 40px;
}
header section .content p {
  font-size: 15px;
  width: 290px;
  font-weight: 500;
  word-break: break-all;
}
header section .content .price_order {
  display: flex;
  place-content: center;
  margin: 10px;
}
header section .content .price_order .price h2 {
  font-size: 20px;
  color: red;
}
header section .content .price_order .price p {
  width: 300px;
}
header section .content .price_order a {
  text-decoration: none;
  font-size: 22px;
  padding: 4px 11px;
  position: relative;
  top: -30px;
  left: 130px;
  background: #000;
  color: white;
}
header section .cards {
  width: 95%;
  height: 140px;

  position: relative;
  top: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  scroll-behavior: smooth;
  transition: linear;
}
header section .cards::-webkit-scrollbar {
  display: none;
}
header section .cards .card {
  position: relative;
  min-width: 130px;
  min-height: 125px;
  border: 1px solid #000;
  background: #282828;
  margin-right: 10px;
  border-radius: 50px 10px 10px;
}
header section .cards .card .dish {
  width: 50%;
  position: relative;
  top: -5px;
  left: -3px;
  border-radius: 55px;
}
header section .cards .card h4 {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 70px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
header section .cards .card h5 {
  color: #dedede;
  font-size: 15px;
  font-weight: 600;
  font-family: 500;
  margin: 4px;
  display: block;
  overflow: hidden;
  white-space: howrap;
  text-overflow: ellipsis;
}
header section .cards .card p {
  color: #dedede;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 5px;
}

header section .cards .card .rate_cart h6 {
  color: aliceblue;
  font-weight: 300;
  padding: 0px 5px;
  position: relative;
  top: 3px;
  display: flex;
}
header section .cards .card .rate_cart .cart {
  color: #fff;
  margin: 50px;
  position: relative;
  top: -10px;
  left: 50px;
}
/*header section .cards .card .makh {
  width: 50%;
  position: relative;
  top: -5px;
  left: -3px;
  border-radius: 55px;
}
header section .cards .card .pav {
  width: 50%;
  position: relative;
  top: -5px;
  left: -3px;
  border-radius: 55px;
}
header section .cards .card .chole {
  width: 50%;
  position: relative;
  top: -5px;
  left: -3px;
  border-radius: 55px;
}*/
header section .social {
  position: relative;
  top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 1s linear;
}
header section .social .btn {
  margin-left: 5px;
}
header section .social .btn .bi {
  font-size: 13px;
  cursor: pointer;
  transition: 3s linear;
}
header section .social .btn .bi:hover {
  color: rgb(0, 0, 0, 0.5);
}
header section .social .icon {
  display: flex;
  align-items: end;
  font-size: 13px;
  position: relative;
  right: -600px;
  color: #000;
}

header section .social .icon a {
  margin-left: 12px;
  transition: 0.3s linear;
  font-size: 13px;
  color: #000;
}
header section .social .icon a:hover {
  color: #000;
}
@media screen and (max-width: 1260px) {
  header {
    width: 83%;
  }
}
@media screen and (max-width: 828px) {
  header {
    width: 92%;
  }
}
@media screen and (max-width: 750px) {
  header .logo {
    left: 10%;
  }
}
header section .content {
  left: 300px;
}
